.main {
   background-color: rgb(219, 135, 71);
   text-align: center;
   font-size: 20px;
   

}
.six {
   background-image: url(21b1.png);
   background-size: cover;
   padding: 150px 100px;
   text-align: center;
   opacity: 0.7;
   margin: 20px 
 }
 .six h1 {
   font-weight: normal;
   font-family: 'Merriweather', serif;
   position: relative;
   display: inline-block;
   margin: 0;
   line-height: 1;
   color: #fffefe;
   font-size: 60px;
   padding: .4em 1em .55em;
 }
 .six h1:before,
 .six h1:after {
   content: ""; 
   position: absolute;
   width: 60%;
   height: .1em;
   background: #ffffff; 
 }
 .six h1:before {
   left: 0;
   top: 0;
 }
 .six h1:after {
   right: 0;
   bottom: 0;
 }
 .six h1 span:before {
   top: -.55em;
   left: -.325em;
 }
 .six h1 span:after {
   bottom: -.55em;
   right: -.325em;
 }
 @media (max-width: 600px) {
   .six h1 {font-size: 2em;}
 }
 @media (max-width: 450px) {
   .six h1 {font-size: 1.5em;}
}
body {
   background-color:rgb(171, 175, 173);
   font-family: 'Arimo', sans-serif;
	
}
.background1 {
   background-image: url(2020-07-21-19.48.03.jpg);
   background-size: cover;
   padding-bottom: 7%;
   margin:0px 20px 0px 20px;
}
.background2 {
   background-color: rgb(65, 64, 64);
   opacity: 0.8;
   padding-bottom:2%
   
   
}

.back1{
   background:rgb(171, 175, 173);
   opacity: 0.9;
   border-radius: 0px 0px 20px 20px;
   margin: 20px;

}
.margin1{
   margin:20px;
   color: black;
   background-color:rgb(171, 175, 173);
   letter-spacing: 2px;
   line-height: 20px;
   text-align:justify;
   text-indent: 25px;
   word-spacing: 5px;
   box-sizing: border-box;
   padding: 20px;
   opacity: 0.9;
}
.back2{
   background:rgb(171, 175, 173);
   margin:20px 20px 30px 20px;
}

.back3{
   
   margin: 20px;
   
}

.back5{
   margin:20px
}
.back6{
   margin:20px
}
.end1{
   background-color:rgb(219, 135, 71);
   font-family:"arial"; 
   font-size: 10px;
   
}


.end{ 
   margin-left:241px;
   margin-right:241px;

}
.col-fourth{
	width:23.50%;
   
}
.col-fourth{
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	margin-left:10px
   
}
.end{
	margin-right: 0 !important;
}
.wrapper{
	width: 1200px;
	margin: 50px auto;
	position: relative;
   text-align: center;

}
.counter{
	background: #ffff;
	padding: 30px 0;
	border-radius: 5px;
}
.count-text{
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}
.fa-2x{
	margin: 0 auto;
	float: none;
	display: table;
	color: #4ad1e5;
}
 @import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}